<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tagListCheckbox</title>
</head>

<body>

    <th:block th:fragment="tagListCheckbox(tags)">


        <div th:if="${not #lists.isEmpty(tags)}">
            <div class="col-12 mb-4">
                <label for="tags" class="form-label">Tags</label>
                <div class="form-check" th:each="tag : ${tags}">
                    <label for="|tag-${tag.name}|" th:text="${tag.name}"></label>
                    <input type="checkbox" id="|tag-${tag.name}|" th:field="*{tags}" th:value="${tag.id}">
                </div>
            </div>

            <div th:unless="${not #lists.isEmpty(tags)}">
                <h2 class="mt-5 mb-4">There are no tags listed on this model!
                </h2>
            </div>

    </th:block>
</body>

</html>